<div class="rankings__item">
    <ul class="rankings__list m--first l-unlist">
        <li class="rankings__number m--up">
            1<svg role="img" class="icon icon-play ">
                <use xlink:href="/public/images/web1/pictos/icons.sprite.svg#icon-play"></use>
            </svg> </li>
        <li class="rankings__skipper">
            <figure class="rankings__figure">
                <img src="/medias/05/04/50456/image-c-45-45.jpg" alt="" />
            </figure>
            <p class="rankings__desc">
                Jean LE CAM <span style="max-width: 140px;">Yes We Cam!</span>
            </p>
            <button type="button" class="rankings__toggler desktop-hidden v-center">
                <svg role="img" class="icon icon-arrow ">
                    <use xlink:href="/public/images/web1/pictos/icons.sprite.svg#icon-arrow"></use>
                </svg> </button>
        </li>
    </ul>
    <ul class="rankings__list m--second l-unlist">
        <li class="m--fifth">
            <span class="rankings__minititle desktop-hidden"> Foils</span>
            <hr>
        </li>
        <li class="m--fifteenth">
            <span class="rankings__minititle desktop-hidden"> Speed</span>
            <span class="rankings__text">16.72 kts</span>
            <span class="rankings__red">30.97 km/h</span>
            <hr>
        </li>
        <li class="m--tenth">
            <span class="rankings__minititle desktop-hidden"> VMG</span>
            <span class="rankings__text v-center">13.36 kts</span>
            <hr>
        </li>
        <li class="m--fifth">
            <span class="rankings__minititle desktop-hidden"> Heading</span>
            <span class="rankings__text v-center">214°</span>
            <hr>
        </li>
        <li class="m--fifteenth">
            <span class="rankings__minititle desktop-hidden"> Lat/Long</span>
            <span class="rankings__text">28° 17'43'' N</span>
            <span class="rankings__text">27° 14'10'' O</span>
            <hr>
        </li>
        <li class="rankings__stats">
            <span class="rankings__minititle desktop-hidden">
                Dist. to finish </span>
            <span class="rankings__text">22901.1 nm</span>
            <span class="rankings__red">42412.84 km</span>
            <div class="rankings__percent">
                <div class="rankings__round">
                    <svg class="rankings__svg" viewbox="0 0 100 100" width="40" height="40" data-percent="94">
                        <circle cx="50" cy="50" r="40" />
                    </svg>
                </div>
                <span>5.7%</span>
            </div>
            <hr>
        </li>
        <li class="m--tenth">
            <span class="rankings__minititle desktop-hidden"> Dist. to leader</span>
            <span class="rankings__text">0 nm</span>
            <span class="rankings__red">0 km</span>
            <hr>
        </li>
    </ul>
</div>